body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

.header-logo {
    display: block;
    height: 100px;
    width: 200px;
    background: url("img/FEFU_Block_Rus.eps") no-repeat;
    background-size: 250px auto;
}

.page-header,
.page-footer {
    height: 100px;
    background: #444;
}

.page-header {
    border-radius: 0 0 10px 10px;
}

.page-footer {
    border-radius: 10px 10px 0 0;
}

.main {
    background: #eee;
    padding: 20px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.wrapper > div {
    border: 1px solid #999;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 20px;  
}

.wrapper {
    width: 800px;
    margin: auto auto;
}

.form-group {
    width: 800px;
    position: relative;
}

.form-group input {
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 50px;
    font-size: 25px;
    border: 2px solid #999;
    border-radius: 2px;
    outline: none;
}

.form-group #expr {
    width: 100%;
    background: #FFE8C7;
    font-family: Courier New, Courier, monospace;
}

.form-group .errpos {
    position: absolute;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    z-index: 999;
    left: 0;
    top: 55px;
    font-size: 25px;
    text-align: center;
    font-family: Courier New, Courier, monospace;
    white-space: pre;
    color: red;
    font-weight: bold;
    display: none;
}

.form-group #btn {
    width: 20%;
    float: right;
}

.form-group #btn {
    cursor: pointer;
    position: relative;
}

.from-group #btn:hover {
}

.from-group #btn:active {
}

.form-group input:first-child {
    margin-bottom: 20px;
}

.debug-info {
    height: 480px;
}

.debug-info .token-count {
    float: left;
    width: 390px;
}

.debug-info .token-count table {
    width: 100%;
    border-collapse: collapse;
}

.debug-info .token-count td {
    padding: 5px;
}

.debug-info .log-block {
    box-sizing: border-box;
    overflow: scroll;
    width: 345px;
    height: 100%;
    padding: 5px;
    float: right;
    background: #999;
}

.debug-info .log-block .ok {
    color: #556832;
}

.debug-info .log-block .err {
    color: #A81A00;
}